body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    font-family: 'Playfair Display', serif;

}

h1 {
    color: white;
    text-transform: uppercase;
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    background-color: black;
}


.page-container {
    width: 800px;
    min-height: calc(100vh - 186px);
}

.space30 {
    height: 30px;
}

.space60 {
    height: 60px;
}

.header-title {
    /* text-align: right; */
    margin-left: 50px;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
=
}

.header-links a {
    text-decoration: none;
    color: lightblue;
    transition: .3s all ease-in-out;
}

.header-links a:hover {
    color: white;
}

.todo-directions {
    font-family: 'Work Sans', sans-serif;
}

#todo-form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px;
}

#todo-input-text {
    height: 25px;
    border-radius: 5px;
    border: 3px solid navy;
    width: auto;
    padding-left: 15px;
}

#todo-input-text::placeholder {
    color: #999;
}

#todo-enter {
    background-color: #333;
    height: 33px;
    width: 100%;
    color: white;
    font-weight: 800;
    border-radius: 5px;
}

.todo-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    
}

.todo-list h3 {
    background-color: gray;
    color: white;
    padding: 10px;
    padding-left: 20px;
    border: 3px solid #333;
    border-radius: 5px;
    text-transform: uppercase;
    height: 20px;

    
}

.task {
    margin-top: 5px;
    max-width: 100%;
    min-height: 25px;
    margin-left: 2%;
    border-radius: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: minmax(0,1fr) 30px 30px;
    grid-column-gap: 10px;
    /* transition: .3s background-color ease-in-out; */
    border: 2px solid transparent;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.task-todo {
    background-color: navy;
    color: white;
}

.task-complete {
    background-color: lightslategrey;
    color: lightgray;
}

.task-complete > .task-text {
    text-decoration: line-through;
}

.task:hover {
    background-color: black;
}


.new-task {
    display: none;
}


.footer-wrapper {
    width: 100%;
    background-color: #333;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}