@media only screen and (max-width: 810px) {

    .page-container {
        width: auto;
    }

    .todo-list-container {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    #todo-form {
        grid-template-columns: 1fr
    }

    .header {
        grid-template-columns: 3fr 2fr;
    }

    .header-title {
        margin-left: 15px;
    }

    .header-links {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 85%;
    }

    .todo-directions {
        font-size: 80%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer {
        font-size: 90%;
    }



}

@media only screen and (max-width: 420px) {
    .task-text {
        font-size: 80%;
    }
    
    .header-links a {
        font-size: 80%;
    }

    .footer-copyright {
        font-size: 85%;
    }
}